In [3]:
import pandas as pd

In [10]:
df=pd.read_csv(r"C:\Users\PARIMAL\OneDrive\Desktop\Projects\Bike Price\Cleaned_Data_Used_Bike.csv")

In [11]:
df

      bike_name  price  city  kms_driven  owner  age  power  brand
0             1      1     1           1      1    1      1      1
1             2      2     2           2      1    2      2      2
2             3      3     2           3      1    3      3      3
3             4      4     3           4      1    2      4      1
4             5      5     3           5      1    1      5      4
...         ...    ...   ...         ...    ...  ...    ...    ...
7319        471     43     2        3720      1    3      5      6
7320         27      1     3         523      1   10     13      7
7321        242    473   185        3721      1    2     25     15
7322        115    744     8        1666      1    2     26      7
7323         90      5     8        3722      1    6     13      7

[7324 rows x 8 columns]

In [12]:
x=df.drop('price',axis=1)##independent variable
y=df['price']## dependent variable

In [13]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=42,test_size=0.2)

In [ ]:
## Classifier
from sklearn.ensemble import RandomForestClassifier, RandomForestRegressor
rfc=RandomForestClassifier()
rfc.fit(x_train,y_train)
print("this is train score:-",rfc.score(x_train,y_train))
print("this is test score:-",rfc.score(x_test,y_test))

this is train score:- 0.9953917050691244
this is test score:- 0.049146757679180884

In [14]:
prdct1 = rfc.predict(x_test)
print("Predictions:", prdct1)

Predictions: [ 65 575  39 ... 278  12   1]

In [ ]:
## Regressor
from sklearn.ensemble import RandomForestClassifier, RandomForestRegressor
rfr=RandomForestRegressor()
rfr.fit(x_train,y_train)
print("this is train score:-",rfr.score(x_train,y_train))
print("this is test score:-",rfr.score(x_test,y_test))

this is train score:- 0.8517444345846745
this is test score:- -0.05999131831405369

In [17]:
prdct1 = rfr.predict(x_test)
print("Predictions:", prdct1)

Predictions: [178.14  267.355 123.38  ... 165.61  139.25  100.62 ]